/*This is the main heading of this webpage with background image */
h1 {
   font-size: 100px;
   font-weight: bold;
   color: Khaki;
   text-align: center;
   background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

/*font-family added to all elements in a body*/
body {
   font-family: Helvetica; sans-serif;
}

/*class startingPrice is created */
.startingPrice{
               font-weight: bold;
               color: blue;
}

/*class heading is created*/
.heading{
         font-size: 32px;
         font-weight: bold;
         color: white;
     }

/*Id brushBackground is created for background image */
#brushBackground{
                 background-color: mediumspringgreen;

}

/* Id frameBackground is created for background image */
#frameBackground{
                 background-color: lightcoral;
}

/*Id paintBackground is created for background image */
#paintBackground{
                 background-color: skyblue;
}
