/*This is the main heading of this webpage with background image */
h1 {
   font-size: 100px;
   color: Khaki;
   text-align: center;
   background-image: url(./images/pattern.jpeg);
   margin: 0px;
}

/* font-family for entire body */
body {
   font-family: Helvetica, sans-serif;
}

/*class startingPrice is created */
.startingPrice {
               font-family: Helvetica;
               color: blue;
}

/*font-weight for h1, h2, startingPrice*/
h1, h2, .startingPrice {
         font-weight: bold;
}

/*class heading is created*/
.heading {
         font-size: 32px;
         color: white;
     }

/*Id brushBackground is created for background image */
#brushBackground {
                 background-color: mediumspringgreen;

}

/* Id frameBackground is created for background image */
#frameBackground {
                 background-color: lightcoral;
}

/*Id paintBackground is created for background image */
#paintBackground{
                 background-color: skyblue;
}

